{%extends 'base.html'%}
{%block title_block%}Awesome's Blog {%endblock%}
{%block content%}
<h1>Awesome's Blog</h1>
{%if tag %}
<h2>Post tagged with '{{tag.name}}'</h2>
{%endif%}
{%for post in post_list%}
<h1><a href="{{post.get_absolute_url}}">{{post.title}}</a></h1>
<p id="date">published on {{post.publish}} by {{post.author|title}}</p>

<p>Tags:

{% for tag in post.tags.all %}
<a href="{%url 'post_list_by_tag_name' tag.slug%}" class="btn btn-success">{{tag.name}}</a>
{% endfor %}
</p>

{{post.body}}
{%endfor%}
{%include 'pagination.html' with page=post_list%}
{%endblock%}